### Creating and Persisting an ML Model

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/student-mat.csv', sep=';')

In [2]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

Summary of the data

In [3]:
df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [4]:
df.info

<bound method DataFrame.info of     school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]>

Create a subset of features as an example.

In [5]:
include = ['G1','G2', 'absences','G3'] # new model features
#include = ['age','health', 'absences','G3'] # old model features
df = df[include]  # only using 3 features

In [6]:
df.info

<bound method DataFrame.info of      G1  G2  absences  G3
0     5   6         6   6
1     5   5         4   6
2     7   8        10  10
3    15  14         2  15
4     6  10         4  10
..   ..  ..       ...  ..
390   9   9        11   9
391  14  16         3  16
392  10   8         3   7
393  11  12         0  10
394   8   9         5   9

[395 rows x 4 columns]>

The goal is to predict the quality of the student. We will build a predictor based on the final grade (G3).
Becasue we are trying to find quality students. In this model we define a quality student as one who achieves a final grade of 15 or higher.

In [7]:
df.loc[:,'qual_student'] = np.where(df.loc[:,'G3']>=15, 1, 0)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1597: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [8]:
df.describe()

               G1          G2    absences          G3  qual_student
count  395.000000  395.000000  395.000000  395.000000    395.000000
mean    10.908861   10.713924    5.708861   10.415190      0.184810
std      3.319195    3.761505    8.003096    4.581443      0.388636
min      3.000000    0.000000    0.000000    0.000000      0.000000
25%      8.000000    9.000000    0.000000    8.000000      0.000000
50%     11.000000   11.000000    4.000000   11.000000      0.000000
75%     13.000000   13.000000    8.000000   14.000000      0.000000
max     19.000000   19.000000   75.000000   20.000000      1.000000

Drop the G3 score

In [9]:
include = ['G1','G2', 'absences','qual_student'] # new model features
#include = ['age','health', 'absences','qual_student'] # old model features
df = df[include]

Import scikit-learn and build a random forest classifer

In [10]:
from sklearn.ensemble import RandomForestClassifier as rf
import sklearn
from sklearn.model_selection import train_test_split

dependent_variable = 'qual_student'
x = df[df.columns.difference([dependent_variable])]
y = df[dependent_variable]

clf = rf(n_estimators = 1000)
clf.fit(x,y)

RandomForestClassifier(n_estimators=1000)

In [11]:
# original testing method on training data
pred = clf.predict(x)
sklearn.metrics.f1_score(y, pred, average='binary')

0.9722222222222222

For testing purposes, we have split the dataset into training and testing sets

In [23]:
from sklearn.ensemble import RandomForestClassifier as rf
import sklearn
from sklearn.model_selection import train_test_split

#new testing method using cross-validation
scores = []
for i in range(10):
    x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)
    clf = rf(n_estimators = 1000)
    clf.fit(x_train, y_train)
    pred = clf.predict(x_test)
    scores.append(sklearn.metrics.f1_score(y_test, pred, average='binary'))

In [24]:
scores

[0.9,
 1.0,
 0.9600000000000001,
 1.0,
 0.9090909090909091,
 0.9032258064516129,
 0.9523809523809523,
 0.9032258064516129,
 0.9189189189189189,
 0.9565217391304348]

In [25]:
sum(scores)/ len(scores) #average score

0.9403364132424441

In [26]:
max(scores) - min(scores) #variation of score

0.09999999999999998

Let's export this model so we can use it in a microservice (flask api)

In [16]:
import joblib
joblib.dump(clf, 'dockerfile/apps/model.pkl')

['dockerfile/apps/model.pkl']

In [17]:
# some manual testing of the model
query_df = pd.DataFrame({ 'G1' : [1,20,8] ,'G2' : [15,20,8] ,'absences' : [10,20,2]})
query_df

   G1  G2  absences
0   1  15        10
1  20  20        20
2   8   8         2

In [18]:
pred = clf.predict(query_df)
pred

array([1, 1, 0])

In [ ]:
x

In [ ]:
type(x)